<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789727611555-npjq5qaufrkr4tkaqdha32soqf7n8kho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789727611555-npjq5qaufrkr4tkaqdha32soqf7n8kho</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>789727611555-ntqb01lvk4tsuab6cu9q7rnnt0cm524e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDF4v_CRFEpLDAdhsfLML8eVQwlBzBwo2s</string>
	<key>GCM_SENDER_ID</key>
	<string>789727611555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clonenetflix</string>
	<key>PROJECT_ID</key>
	<string>clonenetflix-9c1cc</string>
	<key>STORAGE_BUCKET</key>
	<string>clonenetflix-9c1cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789727611555:ios:32ceb62920a9df7eddcd16</string>
</dict>
</plist>